@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</div>
<br>

@if (!Model.Any())
{
    <p>We dont have any movies yet.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.MovieName, "Edit", new { id = item.MovieId })
                </td>
                <td>
                    @Html.DisplayFor(model => item.Genre.GenreName)
                </td>
            </tr>
        }

    </table>

}


