@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</div>
</br>
@if (!Model.Any())
{
    <p>We dont have any customers yet.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipType.MembershipTypeName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CustomerName, "Edit", new { id = item.CustomerId })
                </td>
                <td>
                    @Html.DisplayFor(model => item.MembershipType.MembershipTypeName)
                </td>
            </tr>
        }

    </table>
}
